<div class="center-text">
  <h1> <%= @pet.instagram_handle %> <h1>
  <h3><a href="https://www.instagram.com/<%=@pet.instagram_handle%>">Instagram Page</a></h3>
  <div class="padding">
    <%= form_for :like, url: likes_path do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :pet_id, value: @pet.id %>
      <%= f.submit "Cuddle?", class: "btn btn-info btn-lg" %>
    <% end %>
    <br>

    <h3>Cuddlegram Followers:</h3>
    <% if @pet.users == [] %>
      <p>This pet has no followers :( Click Cuddle above to give some love :)</p>
    <% else %>
      <% @pet.users.each do |follower| %>
        <p><%= link_to follower.instagram_handle, user_path(follower) %></li>
      <% end %>
    <% end %>
  </div>
</div>

<body>
  <main role = "main">
    <div class = "album text-muted">
      <div class="container">
        <div class="center">
          <div class="row">
            <% @pet.photos.each do |photo| %>
              <div class="padding">
                <div class="img-container">
                  <a href="/photos/<%=photo.id%>">
                    <img data-src="holder.js/100px280?theme=thumb" alt="Pet" src="<%= photo.url %>" data-holder-rendered="true">
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
