<br>
<br>

<div class= "container">

  <div class= "text-center row">
    <br>
    <% photo = @photos.shuffle.first %>

    <div class="col">
      <%= form_tag '/likes/new', method: 'get' do %>
        <%= submit_tag "Shoo!", class:"btn btn-info"%>
      <% end %>
    </div>

    <div class="col align-self-center">
      <h2><%= link_to photo.pet.instagram_handle, pet_path(photo.pet) %></h2>
      <div class="img-container-likes">
        <a href= "/pets/<%=photo.pet_id%>"><img src="<%= photo.url%>"> </a>
      </div>
    </div>

      <div class="col" style="vertical-align: middle">
        <%= form_for :like, url: likes_path do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :pet_id, value: photo.pet.id %>
          <%= f.submit "Cuddle?", class:"btn btn-info"%>
        <% end %>
      </div>
  </div>
</div>

  <div class="text-center">
    <h4> Add a Comment! </h4>

    <form>
      <div class="form-group">
        <%= form_for :comment, url: comments_path do |f| %>
          <%= f.text_area :content %>
       </div>
          <%= f.hidden_field :photo_id, value: photo.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "Submit", class:"btn btn-info" %>
        <% end %>
    </form>


  <br>
  <h4>Comments</h5>
    <% photo.comments.each do |comment| %>
      <ul>
        <li><%= comment.content %></li>
      </ul>
    <% end %>
</div>
