<ul>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
    <li> <%= error %> </li>
    <% end %>
  <% end %>
</ul>


    <h3> Create a Cuddlegram Account </h3>

    <%= form_for @user do |f|  %>
      <%= f.text_field :first_name, :placeholder => "first name" %>
      <%= f.text_field :last_name, :placeholder => "last name" %>
      <%= f.email_field :email, :placeholder => "email address" %>
      <%= f.password_field :password, :placeholder => "password" %>
      <%= f.submit "Sign Up", class: "btn-submit" %>
      <% end %>
      <br></br>
