<h2 class="text-center">
  <%= link_to @photo.pet.instagram_handle, pet_path(@photo.pet) %>
</h2>
<br>

<div class="media">
  <img src="<%= @photo.url%>" class="align-self-center mr-3" style="height: 400px; width: 400px; padding: 10px 10px; margin: 10px 40px 20px 20px ">

  <div class="media-body">
    <h5 class="mt-0">Add a Comment</h5>

    <%= form_for :comment, url: comments_path do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :photo_id, value: @photo.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <br>
    <%= f.submit "Add a Comment" %>
    <% end %>
    <br>

    <h5 class="mt-0">Comments</h5>
    <%@photo.comments.each do |comment| %>
     <p class="mb-0"><%= link_to comment.user.instagram_handle, user_path(comment.user)%>
      says
      <%= comment.content %></p>
    <% end %>

  </div>
</div>
</div>
