<ul class="nav">

  <% if current_user %>

    <li class align right= "nav-item">
        <h1><a class="logo text-white" <%= link_to "Cuddlegram", users_path %> </a></h1>
    </li>

    <li class ="nav-item">
      <a class="nav-link active text-white" <%= link_to "Profile", user_path(current_user)  %> </a>
    </li>

    <li class ="nav-item">
        <a class="nav-link active text-white" <%= link_to "Find a Pet", new_like_path  %> </a>
    </li>

    <li class ="nav-item">
        <a class="nav-link active text-white" <%= link_to "See All Pets", pets_path  %> </a>
    </li>

    <li class ="email">
          <a class="nav-link disabled text-white"> <%=current_user.email%> </a>
    </li>

    <li class="nav-item">
      <a class="nav-link active text-white" <%= link_to "Log Out", logout_path, method:"delete" %> </a>
    </li>


    <% else %>

      <li class align right="nav-item">
        <h1><a class="logo text-white "> Cuddlegram </a></h1>
      </li>

      <li class="nav-item">
          <a class="nav-link active text-white" <%= link_to "Login", login_path  %> </a>
      </li>

      <li class="nav-item">
          <a class="nav-link active text-white" <%= link_to "Sign Up", signup_path  %> </a>
      </li>



  <% end %>
</ul>
