
<ul class="nav">

    <li class= "nav-item">
        <a class="nav-link active" <%=link_to "Cuddlegram", welcome_path %> </a>
    </li>

  <% if current_user %>

      <li class ="nav-item">
          <a class="nav-link active" <%= link_to "Profile", users_path  %> </a>
      </li>

      <li class ="nav-item">
          <a class="nav-link active" <%= link_to "Find a Pet", new_like_path  %> </a>
      </li>

      <li class ="nav-item">
          <a class="nav-link active" <%= link_to "See All Pets", pets_path  %> </a>
      </li>

    <li class="nav-item">
      <a class="nav-link active" <%= link_to "Log Out", logout_path, method:"delete" %> </a>
    </li>

    <li class ="nav-item">
        <a class="nav-link disabled"> <%=current_user.email%> </a>
    </li>




    <% else %>

      <li class="nav-item">
          <a class="nav-link active" <%= link_to "Login", login_path  %> </a>
      </li>

      <li class="nav-item">
          <a class="nav-link active" <%= link_to "Sign Up", signup_path  %> </a>
      </li>



  <% end %>
</ul>
